:root {
  --i-neutral: 219, 14.085%, 27.843%;
  --i-neutral_: hsl(219 14.085% 27.843%);
  --i-primary: 258.89, 94.378%, 51.176%;
  --i-primary_: hsl(258.89 94.378% 51.176%);
  --i-secondary: 314, 100%, 47.059%;
  --i-secondary_: hsl(314 100% 47.059%);
  --i-accent: 174, 60%, 50.98%;
  --i-accent_: hsl(174 60% 50.98%);
  --i-base-100: 0, 0%, 100%;
  --i-base-100_: hsl(0 0% 100%);
  --i-base-200: 0, 0%, 94.902%;
  --i-base-200_: hsl(0 0% 94.902%);
  --i-info: 211.82, 95.192%, 59.216%;
  --i-info_: hsl(211.82 95.192% 59.216%);
  --i-info-1: 200.87, 100%, 95.49%;
  --i-info-1_: hsl(200.87 100% 95.49%);
  --i-info-2: 203.39, 96.721%, 88.039%;
  --i-info-2_: hsl(203.39 96.721% 88.039%);
  --i-info-3: 206.17, 95.918%, 80.784%;
  --i-info-3_: hsl(206.17 95.918% 80.784%);
  --i-info-4: 207.91, 95.556%, 73.529%;
  --i-info-4_: hsl(207.91 95.556% 73.529%);
  --i-info-5: 210, 95.349%, 66.275%;
  --i-info-5_: hsl(210 95.349% 66.275%);
  --i-info-6: 211.82, 95.192%, 59.216%;
  --i-info-6_: hsl(211.82 95.192% 59.216%);
  --i-info-7: 213.94, 73.222%, 46.863%;
  --i-info-7_: hsl(213.94 73.222% 46.863%);
  --i-info-8: 216.16, 81.111%, 35.294%;
  --i-info-8_: hsl(216.16 81.111% 35.294%);
  --i-info-9: 217.89, 90.476%, 24.706%;
  --i-info-9_: hsl(217.89 90.476% 24.706%);
  --i-info-10: 219.74, 100%, 15.098%;
  --i-info-10_: hsl(219.74 100% 15.098%);
  --i-success: 134, 100%, 35.294%;
  --i-success_: hsl(134 100% 35.294%);
  --i-success-6: 134, 100%, 35.294%;
  --i-success-6_: hsl(134 100% 35.294%);
  --i-success-1: 125.22, 100%, 95.49%;
  --i-success-1_: hsl(125.22 100% 95.49%);
  --i-success-2: 125.54, 68.421%, 81.373%;
  --i-success-2_: hsl(125.54 68.421% 81.373%);
  --i-success-3: 127.65, 62.963%, 68.235%;
  --i-success-3_: hsl(127.65 62.963% 68.235%);
  --i-success-4: 130.3, 59.821%, 56.078%;
  --i-success-4_: hsl(130.3 59.821% 56.078%);
  --i-success-5: 132, 69.565%, 45.098%;
  --i-success-5_: hsl(132 69.565% 45.098%);
  --i-success-7: 135.97, 100%, 30.196%;
  --i-success-7_: hsl(135.97 100% 30.196%);
  --i-success-8: 137.81, 100%, 25.098%;
  --i-success-8_: hsl(137.81 100% 25.098%);
  --i-success-9: 140, 100%, 20%;
  --i-success-9_: hsl(140 100% 20%);
  --i-success-10: 141.82, 100%, 15.098%;
  --i-success-10_: hsl(141.82 100% 15.098%);
  --i-warning: 29.412, 100%, 50%;
  --i-warning_: hsl(29.412 100% 50%);
  --i-warning-1: 39.13, 100%, 95.49%;
  --i-warning-1_: hsl(39.13 100% 95.49%);
  --i-warning-2: 36.522, 100%, 86.471%;
  --i-warning-2_: hsl(36.522 100% 86.471%);
  --i-warning-3: 35.172, 100%, 77.255%;
  --i-warning-3_: hsl(35.172 100% 77.255%);
  --i-warning-4: 32.963, 100%, 68.235%;
  --i-warning-4_: hsl(32.963 100% 68.235%);
  --i-warning-5: 31.005, 100%, 59.02%;
  --i-warning-5_: hsl(31.005 100% 59.02%);
  --i-warning-6: 29.412, 100%, 50%;
  --i-warning-6_: hsl(29.412 100% 50%);
  --i-warning-7: 27.143, 100%, 41.176%;
  --i-warning-7_: hsl(27.143 100% 41.176%);
  --i-warning-8: 24.94, 100%, 32.549%;
  --i-warning-8_: hsl(24.94 100% 32.549%);
  --i-warning-9: 22.81, 100%, 23.725%;
  --i-warning-9_: hsl(22.81 100% 23.725%);
  --i-warning-10: 21.039, 100%, 15.098%;
  --i-warning-10_: hsl(21.039 100% 15.098%);
  --i-warning-conent: 0, 0%, 100%;
  --i-warning-conent_: hsl(0 0% 100%);
  --i-error: 0, 90.541%, 70.98%;
  --i-error_: hsl(0 90.541% 70.98%);
  --i-primary-focus: 258.89, 94.378%, 40.941%;
  --i-primary-focus_: hsl(258.89 94.378% 40.941%);
  --i-secondary-focus: 314, 100%, 37.647%;
  --i-secondary-focus_: hsl(314 100% 37.647%);
  --i-accent-focus: 174, 60%, 40.784%;
  --i-accent-focus_: hsl(174 60% 40.784%);
  --i-neutral-focus: 219, 14.085%, 22.275%;
  --i-neutral-focus_: hsl(219 14.085% 22.275%);
  --i-base-300: 0, 0%, 85.412%;
  --i-base-300_: hsl(0 0% 85.412%);
  --i-base-content: 0, 0%, 20%;
  --i-base-content_: hsl(0 0% 20%);
  --i-primary-content: 258.89, 100%, 90.235%;
  --i-primary-content_: hsl(258.89 100% 90.235%);
  --i-secondary-content: 314, 100%, 89.412%;
  --i-secondary-content_: hsl(314 100% 89.412%);
  --i-accent-content: 174, 100%, 10.196%;
  --i-accent-content_: hsl(174 100% 10.196%);
  --i-neutral-content: 219, 59.783%, 85.569%;
  --i-neutral-content_: hsl(219 59.783% 85.569%);
  --i-info-content: 211.82, 100%, 11.843%;
  --i-info-content_: hsl(211.82 100% 11.843%);
  --i-success-content: 0, 0%, 80%;
  --i-success-content_: hsl(0 0% 80%);
  --i-warning-content: 0, 0%, 90%;
  --i-warning-content_: hsl(0 0% 90%);
  --i-error-content: 0, 0%, 80%;
  --i-error-content_: hsl(0 0% 80%);
}
[data-theme="dark"] {
  --i-primary: 262.35, 80.315%, 50.196%;
  --i-primary_: hsl(262.35 80.315% 50.196%);
  --i-primary-content: 0, 0%, 100%;
  --i-primary-content_: hsl(0 0% 100%);
  --i-secondary: 315.75, 70.196%, 50%;
  --i-secondary_: hsl(315.75 70.196% 50%);
  --i-secondary-content: 0, 0%, 100%;
  --i-secondary-content_: hsl(0 0% 100%);
  --i-accent: 174.69, 70.335%, 40.98%;
  --i-accent_: hsl(174.69 70.335% 40.98%);
  --i-accent-content: 0, 0%, 100%;
  --i-accent-content_: hsl(0 0% 100%);
  --i-neutral: 218.18, 18.033%, 11.961%;
  --i-neutral_: hsl(218.18 18.033% 11.961%);
  --i-neutral-focus: 222.86, 17.073%, 8.0392%;
  --i-neutral-focus_: hsl(222.86 17.073% 8.0392%);
  --i-neutral-content: 220, 13.376%, 69.216%;
  --i-neutral-content_: hsl(220 13.376% 69.216%);
  --i-base-100: 220, 17.647%, 20%;
  --i-base-100_: hsl(220 17.647% 20%);
  --i-base-200: 220, 17.241%, 17.059%;
  --i-base-200_: hsl(220 17.241% 17.059%);
  --i-base-300: 218.57, 17.949%, 15.294%;
  --i-base-300_: hsl(218.57 17.949% 15.294%);
  --i-base-content: 220, 13.376%, 69.216%;
  --i-base-content_: hsl(220 13.376% 69.216%);
  --i-primary-focus: 262.35, 80.315%, 40.157%;
  --i-primary-focus_: hsl(262.35 80.315% 40.157%);
  --i-secondary-focus: 315.75, 70.196%, 40%;
  --i-secondary-focus_: hsl(315.75 70.196% 40%);
  --i-accent-focus: 174.69, 70.335%, 32.784%;
  --i-accent-focus_: hsl(174.69 70.335% 32.784%);
  --i-info: 198, 93%, 60%;
  --i-info_: hsl(198 93% 60%);
  --i-success: 158, 64%, 52%;
  --i-success_: hsl(158 64% 52%);
  --i-warning: 43, 96%, 56%;
  --i-warning_: hsl(43 96% 56%);
  --i-error: 0, 91%, 71%;
  --i-error_: hsl(0 91% 71%);
  --i-info-content: 198, 100%, 12%;
  --i-info-content_: hsl(198 100% 12%);
  --i-success-content: 158, 100%, 10%;
  --i-success-content_: hsl(158 100% 10%);
  --i-warning-content: 43, 100%, 11%;
  --i-warning-content_: hsl(43 100% 11%);
  --i-error-content: 0, 100%, 14%;
  --i-error-content_: hsl(0 100% 14%);
}
[data-theme="info"] {
  --i-primary: 198, 93.137%, 60%;
  --i-primary_: hsl(198 93.137% 60%);
  --i-base-100: 0, 0%, 94.902%;
  --i-base-100_: hsl(0 0% 94.902%);
  --i-primary-focus: 198, 93.137%, 48%;
  --i-primary-focus_: hsl(198 93.137% 48%);
  --i-secondary-focus: 0, 0%, 0%;
  --i-secondary-focus_: hsl(0 0% 0%);
  --i-accent-focus: 0, 0%, 0%;
  --i-accent-focus_: hsl(0 0% 0%);
  --i-neutral-focus: 0, 0%, 0%;
  --i-neutral-focus_: hsl(0 0% 0%);
  --i-base-200: 0, 0%, 85.412%;
  --i-base-200_: hsl(0 0% 85.412%);
  --i-base-300: 0, 0%, 76.871%;
  --i-base-300_: hsl(0 0% 76.871%);
  --i-info: 198, 93%, 60%;
  --i-info_: hsl(198 93% 60%);
  --i-success: 158, 64%, 52%;
  --i-success_: hsl(158 64% 52%);
  --i-warning: 43, 96%, 56%;
  --i-warning_: hsl(43 96% 56%);
  --i-error: 0, 91%, 71%;
  --i-error_: hsl(0 91% 71%);
  --i-base-content: 0, 0%, 18.98%;
  --i-base-content_: hsl(0 0% 18.98%);
  --i-primary-content: 198, 100%, 12%;
  --i-primary-content_: hsl(198 100% 12%);
  --i-secondary-content: 0, 0%, 80%;
  --i-secondary-content_: hsl(0 0% 80%);
  --i-accent-content: 0, 0%, 80%;
  --i-accent-content_: hsl(0 0% 80%);
  --i-neutral-content: 0, 0%, 80%;
  --i-neutral-content_: hsl(0 0% 80%);
  --i-info-content: 198, 100%, 12%;
  --i-info-content_: hsl(198 100% 12%);
  --i-success-content: 158, 100%, 10%;
  --i-success-content_: hsl(158 100% 10%);
  --i-warning-content: 43, 100%, 11%;
  --i-warning-content_: hsl(43 100% 11%);
  --i-error-content: 0, 100%, 14%;
  --i-error-content_: hsl(0 100% 14%);
}
